html,
body {
    background-color: $background_main;
}

.list_item {
    .row{
        margin:16px 0 16px 0;
    }
    &__card {
        margin: 0;
        &--img {
        }
        &--body{
            padding: 10px;

        }
    }
}