/* * {
  outline: 1px solid red;
} */

/* --------------------------------------------------------- */

.product {
  margin-top: 6em;
  background-color: white;
}

/* Carousel Image */
.product-carousel {
  overflow: hidden;
  max-height: 90vh;
}

.product-carousel img {
  max-width: 50vw;
  width: 100%;
  height: auto;
  max-height: 90vh;
}
/* End: Carousel Image */
/* --------------------------------------------------------- */
/* Product Price */
.product .price {
  color: #B12704;
}
/* End: Product Price */
/* --------------------------------------------------------- */
/* Increase/Decrease Input */
.numberInput .updown {
  cursor: pointer;
  background: transparent;
  position: relative;
  width: 40px;
  height: 3rem;
  border: solid 1px #e7e7e7;
  color: #222529;
  border-radius: 0;
}

.numberInput .updown:focus {
  outline: none;
}

.numberInput #minus {
  left: 5px;
}

.numberInput #quantity {
  width: 80px;
  height: 3rem;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  line-height: 14px;
  border: 1px solid #e7e7e7;
  padding-left: 0;
  padding-right: 0;
  position: relative;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.numberInput input:focus {
  outline: none;
}

.numberInput #increase {
  left: -1px;
}
/* End: Increase/Decrease Input */
/* --------------------------------------------------------- */
/* Add to cart button */
.addtocart button {
  height: 3rem;
  font-size: 14px;
  font-weight: 700;
}

/* End: Add to cart button */
/* --------------------------------------------------------- */
/* Add to wishlist button */
.wishlist button {
  height: 3rem;
  font-size: 13.5px;
}
/* End: Add to wishlist button */
/* --------------------------------------------------------- */
/* Shop Utilities */
.product .shop-utilities div {
  display: inline-block;
}
/* End: Shop Utilities */
/* --------------------------------------------------------- */
/* Social Icon */
.product .social-icon a {
  text-decoration: none;
  color: black;
}
/* End: Social Icon */
/* --------------------------------------------------------- */
/* Product Info Tab Navs */
.spec .nav a {
  text-decoration: none;
}

.spec ul .active {
  border-bottom: 4px solid blue;
}
/* End: Product Info Tab Navs */

/* Product Info Table */
.spec td, .spec th {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-collapse: collapse;
}

.spec th {
  background-color: #f3f3f3;
}
/* End: Product Info Table */

.deleteComment {
  border-color: white;
}

.reviewHead {
  font-size: 1.04rem;
}