.home__carousel{
    .embed-responsive{
        height: 100vh;
    }
    &--img1{
        background-image: url('../../../app/img/shop3_banner1.jpg');
        @extend %carousel__background;
    }
    &--img2{
        background-image:url('../../../app/img/shop3_banner2.jpg');
        @extend %carousel__background;
    }
}