.navbar {
    font-family  : 'Open Sans', sans-serif;
    position     : absolute;
    z-index      : 10;
    top          : 0;
    left         : 0;
    width        : 100%;
    height       : 70px;
    padding-left : 7%;
    padding-right: 5%;

    .form__text--appear {
        display: block !important;
    }

    .nav {
        &-item {
            font-weight   : 700;
            font-size     : 12px;
            line-height   : 20px;
            padding       : 9px 12px;
            letter-spacing: -.5px;
            text-transform: uppercase;
        }

        &__icon {
            padding-left: 20px;
        }

        &__icon:hover {
            cursor: pointer;

        }

        &__search {
            position: relative;


            .form-group {
                position     : absolute;
                display      : none;
                width        : 300px;
                height       : 44px;
                margin-bottom: 0;
                background   : $background_main;
                transform    : translateX(-65%);
                box-shadow   : $btn_shadow;
                border-radius: 25px;
                border       : 4px solid $btn_border;
            }

            &--arrow-up {
                @extend %arrow-up;
                transform: translate(-24px, -12px);
            }

            &--form {
                width       : 80%;
                padding-left: 15px;
                display     : inline-block;
                background  : none;
                border      : none;
                outline     : none;
            }

            &--form:hover,
            &--form:focus {
                border       : none !important;
                outline      : none !important;
                border-radius: 25px;
                box-shadow   : none;
            }

            button {
                background-color: transparent;
                border          : none;
                overflow        : hidden;
                outline         : none;
            }

            &--btn {
                vertical-align: middle;
                padding       : 6px 14px;
            }
        }

        &__login {
            position: relative;

            form {
                position: absolute;
                display : none;

                padding-top     : 10px;
                width           : 300px;
                height          : 270px;
                background-color: $background_main;
                box-shadow      : $btn_shadow;
                border-radius   : 25px;
                border          : 4px solid $btn_border;
                margin          : auto;

                .form-group {
                    &__text {
                        width  : 90%;
                        margin : 0 auto;
                        display: block;

                    }

                    &__btn {
                        margin     : 20px auto;
                        display    : block;
                        font-family: 'Oswald', sans-serif;
                        font-weight: 400;


                    }
                }

                transform: translate(-150px, 0px);

                .form-control {
                    width : 90%;
                    margin: auto;
                }
            }

            &--arrow-up {
                @extend %arrow-up;
                transform: translate(170px, -12px);
            }
        }

        &__shopcart {
            position: relative;

            &--wrapper {
                position        : absolute;
                display         : none;
                width           : 330px;
                height          : 250px;
                background-color: $background_main;
                box-shadow      : $btn_shadow;
                border-radius   : 25px;
                border          : 4px solid $btn_border;
                transform       : translateX(-220px);

            }

            &--arrow-up {
                @extend %arrow-up;
                transform: translate(240px, -12px);
            }

            &--title {
                width         : 40%;
                margin        : 1rem auto;
                text-align    : center;
                text-transform: uppercase;
                color         : $red_bold;
                font-weight   : 700;
            }

            &--item {
                width : 99%;
                height: 90%;

                &--left {
                    color      : #000;
                    font-weight: 700;
                }

                .row {
                    margin: 16px -15px;
                }
            }

            &--btn {
                text-transform  : uppercase;
                background-color: $red_bold;
                outline         : none;
                border          : none;
                margin          : 0 auto;
            }

            &--btn:focus,
            &--btn:active {
                background-color: black !important;
            }
        }

    }

    &-light {
        background-color: transparent !important;
    }

    .navbar-nav {
        width: 90%;

        .nav-link {
            color: #141a1f !important;
        }
    }
}