%carousel__background{
    background-size: cover;
    background-attachment: fixed;
}
%category__img{
    background-repeat: no-repeat;
    height: 200px;
    background-size: 340px 200px;
    background-position: center;
    padding:0;
}