@media (min-width: 576px) {
    .card-deck .card {
        margin-right: 0px;
        margin-left : 0px;
    }

    .card-deck {
        margin-right: 0;
        margin-left : 0;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1240px;
    }
}