$background_main: rgb(239, 239, 239);
//$background_header: rgba(0,0,0,.8);
$red_bold: rgb(196, 1, 26);
$footer_text: rgb(51, 51, 51);
$btn_color: rgb(0, 175, 239);
$btn_shadow: 0 5px 8px rgba(0, 0, 0, .1);
$btn_border: #ccc;
$card_shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px;