/** {
  outline: 1px solid red;
} */

/* Carousel Image */
  .carousel img {
    max-width: 60vw;
    width: 100%;
    height: auto;
  }
/* End: Carousel Image */

/* Star Rating */
fieldset, label { margin: 0; padding: 0; }
body{ margin: 20px; }
h1 { font-size: 1.5em; margin: 10px; }

/****** Style Star Rating Widget *****/

.rating { 
  border: none;
  float: left;
}

.rating > input { display: none; } 
.rating > label:before { 
  margin: 5px;
  font-size: 1.25em;
  font-family: FontAwesome;
  display: inline-block;
  content: "\f005";
}

.rating > .half:before { 
  content: "\f089";
  position: absolute;
}

.rating > label { 
  color: #ddd; 
 float: right; 
}

/***** CSS Magic to Highlight Stars on Hover *****/

.rating > input:checked ~ label, /* show gold star when clicked */
.rating:not(:checked) > label:hover, /* hover current star */
.rating:not(:checked) > label:hover ~ label { color: #FFD700;  } /* hover previous stars in list */

.rating > input:checked + label:hover, /* hover current star when changing rating */
.rating > input:checked ~ label:hover,
.rating > label:hover ~ input:checked ~ label, /* lighten current selection */
.rating > input:checked ~ label:hover ~ label { color: #FFED85;  }
/* End: Star Rating */

/* Product Color */

.filter-color {
  display: inline-block;
  width: 28px;
  height: 28px;
  vertical-align: middle;
}

.color_1 {
  background-color: red;
}

.color_2 {
  background-color: blue;
}

/* End: Product Color */

/* Increase/Decrease Input */
.purchase button[type="button"] {
  cursor: pointer;
  background: transparent;
  position: relative;
  width: 40px;
  height: 3rem;
  border: solid 1px #e7e7e7;
  color: #222529;
  border-radius: 0;
  top: -1px;
}

.purchase button:focus {
  outline: none;
}

.purchase #minus {
  left: 5px;
}

.purchase #quantity {
  width: 80px;
  height: 3rem;
  font-size: 1rem;
  font-weight: 700;
  text-align: center;
  line-height: 14px;
  border: 1px solid #e7e7e7;
  padding-left: 0;
  padding-right: 0;
}

input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
  -webkit-appearance: none; 
  margin: 0; 
}

.purchase input:focus {
  outline: none;
}

.purchase #increase {
  left: -5px;
}
/* End: Increase/Decrease Input */